h1 {
  padding: 3rem;
  margin-top: 1rem;
}

p {
  line-height: 1.5rem;
}

button {
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  width: 10rem;
  background: transparent;
  border: 1px solid black;
}

.link {
  text-decoration: none;
}
