form {
  width: 40%;
  display: inline-flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  margin: 1rem;
  display: inline;
}

select {
  width: 40%;
  align-self: center;
  margin-top: 1rem;
}

input[type="submit"] {
  width: 40%;
  align-self: center;
  background-color: rgb(222, 245, 253);
  border: 1px solid black;
}
