.App {
  text-align: center;
}

.openclose {
  font-weight: bold;
}

#patients {
  width: 50%;
  border: solid 1px black;
  margin: 0 auto 1rem auto;
}

#patients p {
  text-align: left;
  padding-left: 2rem;
}

#select {
  background-color: white;
  border: solid 1px black;
  width: 20%;
  margin: 1rem;
}
